.layout-footer {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--surface-card);
    transition: left 2;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
    justify-content: end;

    .layout-footer-logo {
        display: flex;
        align-items: center;
        color: var(--surface-900);
        font-size: 1.5rem;
        font-weight: 500;
        width: 400px;
        border-radius: 12px;
        gap: 15px;

        img {
            height: 3.2rem;
            margin-right: .5rem;
        }


    }
}