<app-navbar></app-navbar>
<div class="container">
    <div class="content">
        <p-card header="About">

            <ng-template pTemplate="header">
                <div class="flex justify-content-center">
                    <p-image alt="Card" src="../../assets/resources/80.jpg" width="100%" height="400px" [imageStyle]="{'transform': 'rotate(90deg)'}" loading="lazy" [preview]="true"></p-image>
                    
                </div>
            </ng-template>  
 
            <p class="m-0">
                Welcome to the website for the AHRC-funded Annotating the New Testament: Codex H, Euthalian
                Traditions, and the Humanities project, run by Prof Garrick Allen (University of Glasgow) and Dr
                Kimberley Fowler (University of Groningen), in partnership with the <a href="http://emel-library.org/">Early Manuscripts Electronic
                Library</a>, the <a href="https://manuscripts-en.theol.uoa.gr/laboratory_history/">Manuscripts’ Digital Research and Study Laboratory</a>, the <a href="https://bnuto.cultura.gov.it/">Biblioteca nazionale
                universitaria di Torino</a>, the Great Lavra monastery, and the <a href="https://www.greekcommunitystluke.scot/">Greek Orthodox Cathedral of St Luke,
                Glasgow</a>. The project investigates the origins, transmission, and function of the Euthalian tradition, a
                series of lists, prefaces, cross-references, and historical texts, attached to Acts, Paul’s Letter, and the
                Catholic Epistles in hundreds of Greek New Testament manuscripts. You can find out more about the
                project, our team, publications, and digital edition of Codex H (GA 015), the earliest witness to the
                Euthalian tradition on this site.
            </p>
        </p-card>
    </div>

</div>
<app-footer></app-footer>